/* theme.css */

.product-card {
  background-color: var(--secondary-color);
  border: 1px solid #e0e0e0;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 6px 20px var(--shadow-color);
  transition: transform 0.3s ease, box-shadow 0.3s ease, filter 0.3s ease;
  text-align: center;
  position: relative;
}

.product-card:hover {
  transform: translateY(-5px) scale(1.05);
  box-shadow: 0 12px 30px var(--hover-shadow);
  filter: brightness(1.05);
}

.product-card img {
  max-width: 100%;
  border-radius: 12px;
  margin-bottom: 16px;
  transition: transform 0.3s ease;
}

.product-card:hover img {
  transform: scale(1.05);
}

.product-card h3 {
  font-size: 18px;
  margin: 0 0 8px;
  color: var(--text-color);
}

.product-card p {
  font-size: 16px;
  margin: 0 0 16px;
  color: var(--primary-color);
  font-weight: bold;
}

.product-card button {
  background: #029b2d;
  color: var(--secondary-color);
  border: none;
  padding: 12px 20px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  transition: transform 0.3s ease, background 0.3s ease;
}

.product-card button:hover {
  transform: translateY(-3px);
  background: #21b34a;
}

.product-badge {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: var(--accent-color);
  color: var(--secondary-color);
  padding: 5px 10px;
  border-radius: 50px;
  font-size: 12px;
  font-weight: bold;
}

.wishlist-card {
  background-color: var(--secondary-color);
  border: 1px solid #e0e0e0;
  border-radius: 16px;
  padding: 16px;
  box-shadow: 0 4px 12px var(--shadow-color);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
}

.wishlist-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px var(--hover-shadow);
}

.wishlist-card h3 {
  font-size: 18px;
  margin-bottom: 8px;
}

.wishlist-card p {
  font-size: 16px;
  margin-bottom: 16px;
  color: var(--primary-color);
  font-weight: bold;
}

.wishlist-card button {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: none;
  padding: 12px 20px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  transition: transform 0.3s ease, background 0.3s ease;
}

.wishlist-card button:hover {
  transform: translateY(-3px);
  background-color: #f7c600;
}
